@keyframes baitAnim {
    from {
      transform: scale(1);
      background-color: rgb(141, 0, 0);
    }
    
    to {
        transform: scale(2);
        background-color: red;
    }
  }

.Game{
    & > .infos{
        & .point{
            font-size: 3rem;
            color: rgb(0, 0, 119);
            &.me{
                font-size: 3.5rem;
                color: rgb(190, 0, 60);
            }
        }
    }
    & .grid{
        width:300px;
        height:300px;
        display: flex;
        flex-direction: column;
        & > li{
            flex-grow: 1;
            display: flex;
            width:100%;
            & .dot{
                flex-grow: 1;
                border: 1px solid black;
                &.red{
                    position:relative;
                    &::after{  
                        top:0;
                        left:0;
                        content: '';
                        height: 12px;
                        width: 12px;
                        position: absolute;
                        animation: baitAnim 1s ease-in-out 0s infinite alternate;
                        border-radius: 100%;
                    }
                }
                &.player1-head{
                    background-color: rgb(1, 226, 1);
                }
                &.player1{
                    background-color: green;
                }
                &.player2-head{
                    background-color: rgb(0, 140, 227);
                }
                &.player2{
                    background-color: rgb(0, 87, 142);
                }
                &.none{
                    background-color: white;
                }
            }
        }
    }
}