@keyframes baitAnim {
    from {
      transform: scale(1);
      background-color: rgb(141, 0, 0);
    }
    
    to {
        transform: scale(2);
        background-color: red;
    }
  }

.Game{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .infos{
        & .point{
            font-size: 3rem;
            color: rgb(0, 0, 119);
            &.me{
                font-size: 3.5rem;
                color: rgb(190, 0, 60);
            }
        }
    }
    & .grid{
        width:600px;
        height:600px;
        display: flex;
        flex-direction: column;
        padding:0;
        border: 2px solid black;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        & > li{
            flex-grow: 1;
            display: flex;
            width:100%;

            & .dot{
                flex-grow: 1;
                border: 1px solid rgb(135, 135, 135);
                &.red{
                    position:relative;
                    &::after{  
                        top:0;
                        left:0;
                        content: '';
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        animation: baitAnim 1s ease-in-out 0s infinite alternate;
                        border-radius: 4em;
                    }
                }
                &.player1-head{
                    background-color: rgb(1, 226, 1);
                }
                &.player1{
                    background-color: green;
                }
                &.player2-head{
                    background-color: rgb(0, 140, 227);
                }
                &.player2{
                    background-color: rgb(0, 87, 142);
                }
                &.none{
                    // background-color: white;
                }
            }
        }
    }
}